ENV DISPLAY=127.0.0.1:6
ENV LD_LIBRARY_PATH=/home/sekiu/jonh/microsoft/xax/xax-svn/zoog/toolchains/linux_elf/lib_links
ENV HOME=/home/webguest
ENV XAX_FAKEUID=997
ENV XAX_FAKEGID=997
ENV ZOOG_ROOT=/home/sekiu/jonh/microsoft/xax/xax-svn/zoog

ENV ZOOG_TRACE=0
ENV ZOOG_MMAP=1
ENV ZOOG_STRACE=1
ENV VENDOR_ID=reddit

ARG /home/sekiu/jonh/microsoft/xax/xax-svn/zoog/toolchains/linux_elf/zguest/build/midori.zguest
ENV ZARFILE_PATH=/home/sekiu/jonh/microsoft/xax/xax-svn/zoog/toolchains/linux_elf/zftp_create_zarfile/build/reddit-hot.zarfile
