include(zguest.config)
# NB these configs don't have ZOOG_MMAP or ZOOG_STRACE set, since they're
# for perf measurements.
ENV VENDOR_ID=reddit
ENV ZOOG_STRACE=0
ENV ZOOG_MMAP=0
ARG ZOOG_ROOT_VALUE/toolchains/linux_elf/zguest/build/midori.zguest
ENV ZARFILE_PATH=ZOOG_ROOT_VALUE/toolchains/linux_elf/zftp_create_zarfile/build/midori_reddit.zarfile
