include(zguest.config)
ENV VENDOR_ID=vendor-a
ARG ZOOG_ROOT_VALUE/toolchains/linux_elf/zguest/build/midori.zguest
#ARG ZOOG_ROOT_VALUE/toolchains/linux_elf/zguest/build/gnumeric.app.zguest
ENV ZARFILE_PATH=ZOOG_ROOT_VALUE/toolchains/linux_elf/zftp_create_zarfile/build/midori.zarfile
ENV ZOOG_MMAP=1
ENV ZOOG_STRACE=1
