ENV DISPLAY=127.0.0.1:6
ENV XAX_ENABLE=1
ENV XAX_STRACE=1
#ENV LD_BREAK_MAIN=1
ENV LD_LIBRARY_PATH=ZOOG_ROOT_VALUE/toolchains/linux_elf/lib_links
#ENV LD_LIBRARY_PATH=ZOOG_ROOT_VALUE/toolchains/linux_elf/lib_links:ZOOG_ROOT_VALUE/toolchains/linux_elf/lib_links/debug_links
#ENV LD_DEBUG=all
ENV HOME=/home/webguest
ENV XAX_FAKEUID=997
ENV XAX_FAKEGID=997
ENV ZOOG_ROOT=ZOOG_ROOT_VALUE
